/*start global rules*/
:root {
    --main-color: #FC8834;
    --second-color: #242424;
    --6B-color: #6B6B6B;
    --small-p: 15px;
}

body {
    background-color: #adaa9a1a;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */

/*Start components*/
.special-words {
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
}

button {
    width: fit-content;
    margin: auto;
}

.special-heading {
    font-size: 30px
}

.special-words p {
    color: var(--6B-color);
    font-family: "Inter", serif;

}

.special-heading div:first-child {
    color: var(--second-color);
    font-family: "Inter", serif;
    text-transform: capitalize;

}

.special-heading div:last-child {
    color: var(--main-color);
    font-family: "Cormorant", serif;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-style: italic;

}

/*End components*/

/* Start Navbar  */


.navbar .container .right-side .icons,
.navbar .container .right-side .menu {
    margin: 15px;
}



.navbar .container i {
    padding: 5px;
    color: var(--second-color);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 20px;
    display: flex;
}

.navbar .container .right-side {
    display: flex;
}

/* End Navbar  */

/* Start Heading  */
.heading {
    margin: 30px;
}

.heading .container .section1 {
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 25px;
}

.photos img {
    width: 250px;
}

.heading .container .section1 .special-words {
    align-self: center;

}


@media (max-width:767px) {
    .heading .container .section1 {
        flex-direction: column;
    }


}

.heading .container .section1 button {
    margin: 10px auto;
}

.heading .container .links {
    display: flex;
    justify-content: space-evenly;
}

.heading .container .links div {
    color: #D2D0C3;
    margin: 20px;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width:767px) {
    .heading .container .links {
        flex-wrap: wrap;
    }
}

.section2 {
    display: flex;
}

.section2 button {
    margin: auto;
}

@media((max-width:767px)) {
    .heading .section2 {
        flex-direction: column;

    }
}

/* End heading  */

/* Start Explore  */
.explore {
    background-color: #ADAA9A;
    width: 100%;
    height: 100%;
    position: relative;
}

.explore .content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Cormorant", serif;
    font-size: 40px;
    text-transform: capitalize;

}

.explore div {
    text-align: center;
    color: white;
    padding: 20px;
    width: 470px;
}

.explore .container .content div:first-child {
    font-family: "Inter", serif;
    padding-bottom: 0;
}

.explore .container .content div:nth-child(2) {
    padding-top: 2px;
}


.explore .container .content div:nth-child(4) {
    position: relative;
    z-index: 1;
}

.explore .container .content div:nth-child(3) {
    font-family: "Inter", serif;
    padding-top: 0;
    z-index: 1;
    font-size: var(--small-p);
}

.explore .container .content div:nth-child(5) {
    padding-bottom: 0;
}


.explore .container .content div:nth-child(6) {
    padding-top: 0;
}

.explore .container .content div:nth-last-child(2) {
    padding-top: 5px;
}

.explore img {
    position: absolute;
    content: "";
    z-index: 0;
    top: 290px;
    left: 421px;
}

.explore button {
    margin: auto;

}

@media(max-width:767px) {
    .explore img {
        left: 75px;
        top: 260px;
    }
}

/*End Explore*/

/*start portfolio */
.portfolio .container {
    display: flex;
    flex-direction: column;
}

.portfolio .special-words p {
    margin: auto;
    width: 370px;
    font-size: var(--small-p);
    font-family: "Inter", serif;

}

@media(max-width:767px) {
    .portfolio .special-words p {
        width: 310px;
    }
}

.portfolio .works,
.portfolio .clients {
    display: flex;
    justify-content: center;

}


.portfolio .works1,
.portfolio .works2,
.portfolio .works3 {
    display: flex;
    flex-direction: column;
}

.portfolio img {
    width: calc(100% - 10px);
}


@media(max-width:767px) {

    .portfolio .works,
    .portfolio .clients {
        flex-wrap: wrap;
    }

    .portfolio .works1,
    .portfolio .works2,
    .portfolio .works3 {
        padding: 5px;
        margin-bottom: 15px;
        margin-left: 5px;
    }

}

.portfolio caption {
    color: var(--second-color);
}

.portfolio .vector {
    width: 5%;
    margin-right: 5px;
}

.portfolio button {
    margin: 10px auto;
}

hr {
    color: #D2D0C3;
}

.portfolio .clients .client {
    background-color: white;
    border: solid 2PX #D2D0C3;
    width: 250px;
    height: 350px;
    padding: 30px;
    margin: 5px;
    display: flex;
    flex-direction: column;

}

.portfolio .clients .client div:first-child {
    color: #A9A9A9;
    font-size: 20px;
    font-family: "Inter", serif;

}

.portfolio .clients .client div p:first-child {
    color: var(--second-color);
    margin-top: 30px;
    margin-bottom: -15px;
    font-family: "Cormorant", serif;
}

.portfolio .clients .client div p:last-child {
    color: var(--6B-color);
    font-family: "Inter", serif;
}

.portfolio .scroll {
    display: flex;
    justify-content: center;

}

.portfolio .scroll span {
    background-color: #757575;
    width: 15px;
    height: 15px;
    margin: 5px;
    transition: 0.3s;
}

.portfolio .scroll span:hover {
    background-color: var(--main-color);

}

/* End portfolio */

.video {
    display: flex;
    justify-content: center;
}

.video video {
    margin: auto;
    width: calc(100% - 350px);
}

@media(max-width:767px) {
    .video video {
        width: calc(100% - 25px);

    }
}

/*Start articles*/
.blog-articles .container {
    display: flex;
    flex-direction: column;
}

.blog-articles .container .articles {
    display: flex;
}

.blog-articles .container .articles .article {
    margin: 5px 12px;
}

.blog-articles .container .articles .article-2-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.blog-articles .container .articles .article img {
    width: 100%;
}

.blog-articles .container button {
    margin: auto;
}

@media(max-width:767px) {
    .blog-articles .container .articles {
        flex-wrap: wrap;
    }

    .blog-articles .container .articles .article-1 {
        margin: 10px 15px;
    }

    .blog-articles .container .articles .article-2,
    .blog-articles .container .articles .article-3 {
        margin: 0px 15px;
    }


    .blog-articles .container button {
        margin: 10px auto;
    }

}


/* End articles */

/* Start Contact  */

.contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .container .special-words p {
    width: 365px;
    margin: 10px auto;
}

.contact .container form {
    display: flex;
    flex-direction: column;
    font-family: "Inter", serif;

}

.contact .container form input,
.contact .container form textarea {
    padding: 10px;
    margin: 20px auto;
    width: 70%;
}

.contact .container form textarea {
    height: 100px;
}

.contact .container form input:last-child {
    background-color: white;
    width: fit-content;
    margin: auto;
}

.container .btn {
    width: 150px;
    margin: auto;
}

.contact .follow {
    margin: auto;
}

/* End contact */





/*Start Follow Instagram */
.instagram {
    display: flex;
}

.instagram div {
    margin: 5px auto;
    color: var(--6B-color);
    font-family: "Inter", serif;


}

/* End follow Instagram   */

/*Start Instagram */

.instagram-photos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.instagram-photos img {
    width: 200px;
}

@media(max-width:767px) {
    .instagram-photos {
        flex-wrap: wrap;
    }

    .instagram-photos img {
        margin-bottom: 10px;
    }
}


/* End Instagram   */


/* Start Footer  */
.footer {
    background-color: #A09C86;
    color: #FFFFFF;
}

.footer .container .information {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.footer .container .information .section-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Inter", serif;
    text-transform: uppercase;
    margin-top: 50px;
}

.footer .btn {
    width: 120px;
}

.footer .container .information .section-part .title div:first-child {
    font-family: "Inter", serif;
    font-style: normal;
}

.footer .container .information .section-part .first-title {
    display: flex;
}

.footer .container .information .section-part .title {
    font-size: 20px;
    margin: 10px;
    font-family: "Cormorant", serif;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-style: italic;
}

.footer .container .information .section-part .paragraph {
    margin-top: 30px;
    width: 260px;
    text-transform: none;
}

.footer .container .information .section-part a {
    text-decoration: none;
    color: #FFFFFF;
}


.footer .container hr {
    color: #D2D0C3;
}

.footer .container .copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: "Inter", serif;

}

@media(max-width:767px) {
    .footer .container .information {
        flex-wrap: wrap;
    }

    .footer .container .information .section-part {
        margin-bottom: 20px;
        padding: 5px;
    }

    .contact .container .special-words p {
        width: 340px;
    }

}

/* End Footer  */